{% extends 'base.html' %}
{% load static %}

{% block title %}404{% endblock %}

{% block content %}
    <div class="container text-center mt-5 mb-5" style="background-color: #161e29; border-top: 1px solid #2e3c51; box-shadow: 0px 0px 20px rgba(106, 21, 162, 0.5);">
        <div class="row text-center">
            <div class="scroll-container">
                <h2 class="mt-5 mb-5" style="color: white;">Error 404</h2>
                <p class="mt-5 mb-5" style="color: white;">¡Ups! Parece que te has perdido.</p>
            </div>
        </div>
    </div>
{% endblock %}