{% extends 'base.html' %}

{% block content %}
  <div>
    <div>
      <div>
        <h2>Lista de Gastos</h2>
        <ul>
          {% for expense in expenses %}
            <li>{{ expense.description }} - {{ expense.amount }} - {{ expense.date }} <a href="{% url 'expense_update' expense.pk %}">Editar</a> <a href="{% url 'expense_delete' expense.pk %}">Eliminar</a></li>
          {% empty %}
            <li>No hay gastos</li>
          {% endfor %}
        </ul>
        <a href="{% url 'expense_create' %}" class="btn btn-outline-primary">Agregar Gasto</a>
      </div>
    </div>
  </div>
{% endblock %}