{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="card bg-secondary">
        <div class="card-body">
            <h2 class="card-title text-center">Login</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-outline-success">Login</button>
                    <a href="{% url 'signup' %}" class="btn btn-outline-warning">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
